
/* Resets */

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

/* ^ Resets ^ */

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


/* Navbar styles */

.navbar-container {
  padding: 50px 25px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.navbar-list-1-2,
.navbar-list-1-2 {
  display: flex;
  gap: 15%;
}

.navbar-list-2-2 {
  display: flex;
  gap: 30%;
  margin-right: 5%;
}

/* Home styles */

.home-container {

}
.header-container {
  display: flex;
  justify-content: center;
  gap: 5%;

}

/* Header styles */
.header-container h1 {
  font-size: 4.5rem;
}

.header-1-2 {
  line-height: 36px;
  width: 50%;
}

.header-photo {
  border-radius: 50%;
  width: 90%;
}

/* Technologies styles */
.technology-list-container {
  display: flex;
  gap: 2rem;
}

.technology-list-container > div {
  border: 5px solid black;
  width: 350px;
}

/* About Me container */

.aboutme-container {
  width: 80%;
}

/* Footer container */

.footer-container {
  background-color: #474954;
  padding: 50px 25px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-list-1-2 {
  color: #90ee90;
  display: flex;
  gap: 16px;

}

footer a:hover {
  color: #90ee90;
}

footer .navbar-list-2-2 {
  margin-left: 10px;
}
